:host {
	display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:host .parts {
  overflow: hidden;
  white-space: nowrap;
  padding: 3px;
  box-sizing: border-box;
}
:host .parts .part {
	display: inline-block;
	background-color: gray;
  margin: 0;
  padding: 0.25em 0.5em;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5), 0px 15px 5px rgba(255,255,255,0.2) inset, 0px -10px 5px rgba(0,0,0,0.2) inset;
}
:host.clickable .parts .part {
  cursor: pointer;
}
:host.clickable .parts .part:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,0.5), 0px 15px 5px rgba(255,255,255,0.3) inset, 0px -10px 5px rgba(0,0,0,0.2) inset;
}
:host .parts .part-0, :host .parts .part-6 {
  background-color: #800;
}
:host .parts .part-1, :host .parts .part-7 {
  background-color: #060;
}
:host .parts .part-2, :host .parts .part-8 {
  background-color: #008;
}
:host .parts .part-3, :host .parts .part-9 {
  background-color: #660;
}
:host .parts .part-4, :host .parts .part-10 {
  background-color: #066;
}
:host .parts .part-5, :host .parts .part-11 {
  background-color: #606;
}
:host .parts .part .text {
	display: inline-block;
  width: 100%;
	color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  pointer-events: none;
  vertical-align: middle;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
:host .parts .part:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
:host .parts .part:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
:host .parts .part {
  transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
}